{% extends "layout.html" %}

{% block title %}
    Home 
{% endblock %}

{% block main %}

    <script src="/static/js/TranslateDate.js"></script>
   
    <script>
        
        let countSpan;
        let unlikeString = '<img src="/static/images/icons/thumb-up-fill.svg">'
        let likeString = '<img src="/static/images/icons/thumb-up-line.svg">'
        
    


        function likeIt(el){
            
            console.log(el.dataset.photo);
            
            fetch(`/like_it/${el.dataset.photo}`)
                .then( response => {
                    return response.json();
                })
                .then( data => {
                    countSpan = document.getElementById(el.dataset.photo);
                    countSpan.innerHTML = Number(countSpan.innerHTML) + 1;
                    
                    console.log(data);
                    el.classList.remove('like-button');
                    //el.innerHTML = '👎🏼';
                    el.innerHTML = unlikeString;
                    el.classList.add('unlike-button');
                    el.onclick = () => {
                        unlikeIt(el);
                    }
                });
                
        }

        function unlikeIt(el){
            console.log(el.dataset.photo);

            fetch(`/unlike_it/${el.dataset.photo}`)
                .then( response => {
                    return response.json();
                })
                .then( data => {
                    countSpan = document.getElementById(el.dataset.photo);
                    countSpan.innerHTML = Number(countSpan.innerHTML) - 1;

                    console.log(data);
                    el.classList.remove('unlike-button');
                    //el.innerHTML = '👍🏼';
                    el.innerHTML = likeString;
                    el.classList.add('like-button');
                    el.onclick = () => {
                        likeIt(el);
                    }
                });
        }

        window.addEventListener('DOMContentLoaded', ()=>{
            console.log('Document content loaded'); 
            const translateDate = new TranslateDate();
            const dateSpans = document.querySelectorAll('.date-span');

            for(const span of dateSpans){
                console.log(span.dataset.date);
                const strDate = translateDate.getStringDate(new Date(span.dataset.date).getTime());
                span.innerHTML = strDate;
            }

        });

    </script>
    
    <div class="flex">
       
        <div class="flex flex-grow">
            
            <!-- ORDER -->
            <select class="text-sm p-2 rounded-md bg-white-100 border border-purple-300 outline-none">
                <option>Recently</option>
                <option>Most liked</option>
            </select>
            
            <!-- TREND TIME -->
            <select class="text-sm p-2 rounded-md bg-white-100 border border-purple-300 outline-none ml-2">
                <option>Weekly</option>
                <option>Monthly</option>
                <option>Yearly</option>
                <option>All times</option>
            </select>
        </div>


        <!-- FILTER -->
        <input class="text-sm p-2 rounded-md bg-white-100 border border-purple-300 outline-none" type="text" placeholder="🔍 Search by hashtag">

    </div>

    

    <ul class="py-5">
        {% for photo in photos %}
            <li class="mb-10 bg-white">
                <div class="aspect-ratio-container">
                    <img src={{photo[2]}} class="object-cover rounded-lg">
                </div>
                
                <div class="p-2 flex justify-between items-center">
                    
                    <div class="flex items-center like-button-divs">
                        
                        {% if photo[6] %}
                            <button class="unlike-button" data-photo={{photo[0]}} onclick="unlikeIt(this)">                        
                                <img src="/static/images/icons/thumb-up-fill.svg">
                            </button>
                        {% else %}
                            <button class="like-button" data-photo={{photo[0]}} onclick="likeIt(this)">                        
                                <img src="/static/images/icons/thumb-up-line.svg">
                            </button>                        
                        {% endif %}
                    
                        <span id={{photo[0]}} class="ml-3 font-semibold count-likes-spans">
                            {{photo[5]}}
                        </span>
                    </div>

                    <span class="date-span" data-date="{{photo[1]}}">
                        
                    </span>
                </div>

                <div class="p-2">
                    {{photo[3]}}
                </div>

            </li>
        {% endfor %}
    </ul>


    <script defer>

        // const likeButtons = document.querySelectorAll('.like-button');

        // for(const btn of likeButtons){
        //     btn.addEventListener('click', ()=>{
        //         console.log("Like it!", btn.dataset.photo);

        //         fetch(`/like_it/${btn.dataset.photo}`)
        //             .then( response => {
        //                 return response.json()
        //             })
        //             .then( data => {
        //                 console.log(data);
        //             });

        //     });
        // }
        
        
      
    </script>

    

{% endblock %}