{% extends "layout.html" %}

{% block title %}
    Home 
{% endblock %}

{% block main %}

    <script src="/static/js/TranslateDate.js"></script>
   
    <script>
        
        let countSpan;
        let unlikeString = '<img src="/static/images/icons/thumb-up-fill.svg">'
        let likeString = '<img src="/static/images/icons/thumb-up-line.svg">'
        
        function likeIt(el){
            
            console.log(el.dataset.photo);
            
            fetch(`/like_it/${el.dataset.photo}`)
                .then( response => {
                    return response.json();
                })
                .then( data => {
                    countSpan = document.getElementById(el.dataset.photo);
                    countSpan.innerHTML = Number(countSpan.innerHTML) + 1;
                    
                    console.log(data);
                    el.classList.remove('like-button');
                    //el.innerHTML = '👎🏼';
                    el.innerHTML = unlikeString;
                    el.classList.add('unlike-button');
                    el.onclick = () => {
                        unlikeIt(el);
                    }
                });
                
        }

        function unlikeIt(el){
            console.log(el.dataset.photo);

            fetch(`/unlike_it/${el.dataset.photo}`)
                .then( response => {
                    return response.json();
                })
                .then( data => {
                    countSpan = document.getElementById(el.dataset.photo);
                    countSpan.innerHTML = Number(countSpan.innerHTML) - 1;

                    console.log(data);
                    el.classList.remove('unlike-button');
                    //el.innerHTML = '👍🏼';
                    el.innerHTML = likeString;
                    el.classList.add('like-button');
                    el.onclick = () => {
                        likeIt(el);
                    }
                });
        }

        window.addEventListener('DOMContentLoaded', ()=>{
            console.log('Document content loaded'); 
            const translateDate = new TranslateDate();
            const dateSpans = document.querySelectorAll('.date-span');

            for(const span of dateSpans){
                console.log(span.dataset.date);
                const strDate = translateDate.getStringDate(new Date(span.dataset.date).getTime());
                span.innerHTML = strDate;
            }

        });

    </script>
    

    <!-- FILTERS -->
    
    <div class="flex relative">
       
        <div class="flex flex-grow">
            
            <!-- ORDER -->
            <select id="order-select" class="text-sm p-2 rounded-md bg-white-100 border border-purple-300 outline-none">
                <option id="date-option" value="date">Recently</option>
                <option id="likes-option" value="likes">Most liked</option>
            </select>
            
            <!-- TREND TIME -->
            <select id="trendtime-select"  
                    class="text-sm p-2 rounded-md bg-white-100 border border-purple-300 outline-none ml-1" 
                    style="display: none;">
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
                <option value="alltimes">All times</option>
            </select>
        </div>


        <!-- FILTER -->
        {% if hashtag %}
            <p class="flex items-center bg-purple-200 p-2 rounded-lg">
                
                <span class="font-semibold text-sm">
                    #{{hashtag}}
                </span>

                <a href="/" class="bg-stone-300 ml-2 w-6 h-6 rounded-full text-center">
                    X
                </a>
            </p>
        {% else %}
            <input id="hashtag-input" class="text-sm p-2 w-1/3 rounded-md bg-white-100 border border-purple-300 outline-none" type="text" placeholder="🔍 by hashtag">

            <div id="hashtags-div" class="absolute bg-white w-full z-30 top-11 rounded-lg shadow-lg" style="display: none; min-height: 300px;">
                <div class="flex">

                    <div class="w-1/2">
                        <h3 class="text-2xl p-2">Search 🔍</h3>

                        <ul id="searched-hashtags-ul" class="p-4">

                        </ul>
        
                    </div>
                    
                    <div class="w-1/2">

                    
                        
                        <h3 class="text-2xl p-2">Tops #</h3>

                        <ul id="top-hashtags-ul" class="p-4">

                        </ul>

                    
                    </div>


                    <!-- Absolute -->
                    <button id="close-hashtags-ul-btn" class="absolute bg-stone-200 text-stone-500 rounded-full right-1 top-1 w-8 h-8 font-semibold">
                        X
                    </button>
                </div>
            </div>
        {% endif %}
    </div>

    
    <!-- PHOTOS -->

    <ul class="py-5">
        {% for photo in photos %}
            <li class="mb-10 bg-white rounded-lg">
                <div class="aspect-ratio-container">
                    <img src={{photo[2]}} class="object-cover rounded-lg">
                </div>
                
                <div class="p-2 flex justify-between items-center">
                    
                    <div class="flex items-center like-button-divs">
                        
                        {% if photo[6] %}
                            <button class="unlike-button" data-photo={{photo[0]}} onclick="unlikeIt(this)">                        
                                <img src="/static/images/icons/thumb-up-fill.svg">
                            </button>
                        {% else %}
                            <button class="like-button" data-photo={{photo[0]}} onclick="likeIt(this)">                        
                                <img src="/static/images/icons/thumb-up-line.svg">
                            </button>                        
                        {% endif %}
                    
                        <span id={{photo[0]}} class="ml-3 font-semibold count-likes-spans">
                            {{photo[5]}}
                        </span>
                    </div>

                    <span class="date-span text-sm text-stone-500" data-date="{{photo[1]}}">
                        
                    </span>
                </div>

                <div class="p-2">
                    {{photo[3]}}
                </div>

            </li>
        {% endfor %}
    </ul>


    <script defer>

        const order = "{{ order }}"
        const trendtime = "{{ trendtime }}"
        
        const orderSelect = document.getElementById('order-select');
        const trendtimeSelect = document.getElementById('trendtime-select');
        const dateOption = document.getElementById('date-option');
        const likesOption = document.getElementById('likes-option'); 
        
        const debouncerSeconds = 500;
        const hashtagInput = document.getElementById('hashtag-input');
        const hashtagsDiv = document.getElementById('hashtags-div');
        const topHashtagsUl = document.getElementById('top-hashtags-ul');
        const searchedHashtagsUl = document.getElementById('searched-hashtags-ul');
        const closeHashtagsUlBtn = document.getElementById('close-hashtags-ul-btn');
        

        //Mostrar el select trendtime si se eligio likes
        preparingElements();

        orderSelect.addEventListener('change', (e)=>{
            const assignOrder = e.target.value;

            if(assignOrder === 'date'){
                location.assign(`/?trendtime=${trendtime}`);
            }
            else {
                location.assign(`/?order=likes&trendtime=${trendtime}`);
            }

        });

        trendtimeSelect.addEventListener('change', e =>{
            const assignTrendtime = e.target.value;
            location.assign(`/?order=${order}&trendtime=${assignTrendtime}`);
        });
        



        let status = false; // false is close, true is open. We use it for avoid multiple gets to hashtags tops
        let timer; //debouncer

        hashtagInput.addEventListener('input', e => {
            const text = e.target.value;

            if(text.length >= 3){

                if(!status){
                    //clean ul 
                    topHashtagsUl.innerHTML = '';
                    
                    fetch('/top_hashtags')
                        .then( res => res.json() )
                        .then( data => {
                            
                            status = true;
                            
                            let url = location.search.substring(1) === '' 
                                        ? []
                                        : location.search.substring(1).split("&");
                            
                            url = url.filter( (path) => !path.includes('hashtag')  );
                            
                            for(const hashtag of data.hashtags){
                                url.push(`hashtag=${hashtag.title}`);      

                                const li = document.createElement('li');
                                li.innerHTML = `<a href="/?${url.join('&')}" class="text-blue-500">#${hashtag.title} (${hashtag.count})</a>`
                                topHashtagsUl.appendChild(li);

                                url.pop();
                            }
                        });
                }
                
                //Exec debouncer
                clearTimeout(timer);
                timer = setTimeout(()=>{
                    //clean ul 
                    searchedHashtagsUl.innerHTML = '';

                    fetch('/search_hashtag/'+text)
                        .then( res => res.json() )
                        .then( data => {

                            let url = location.search.substring(1) === '' 
                                        ? []
                                        : location.search.substring(1).split("&"); 

                            url = url.filter( (path) => !path.includes('hashtag')  );

                            for(const hashtag of data.hashtags){
                                
                                url.push(`hashtag=${hashtag.title}`);                                
                                
                                const li = document.createElement('li');
                                li.innerHTML = `<a href="/?${url.join('&')}" class="text-blue-500">#${hashtag.title}</a>`
                                searchedHashtagsUl.appendChild(li);

                                url.pop();
                            }
                            
                        });
                    

                }, debouncerSeconds);


                hashtagsDiv.style.display = 'block';
            }
            else {
                searchedHashtagsUl.innerHTML = '';
                hashtagsDiv.style.display = 'none';
                status = false;
            }
        });

        closeHashtagsUlBtn.addEventListener('click', ()=>{
            //clean ul 
            closeHashtagsDiv();
        });


        document.addEventListener('keydown',(e)=>{
            //In case to press ESC
            if(e.keyCode == 27){
                closeHashtagsDiv();
            }

        });

        function closeHashtagsDiv(){
            topHashtagsUl.innerHTML = '';
            searchedHashtagsUl.innerHTML = '';
            hashtagsDiv.style.display = 'none';
            hashtagInput.value = '';
        }

        function preparingElements(){
            // Hacemos aparecer el select de trendtime
            // Default option selected
            
            if(order === 'likes'){
                likesOption.selected = true;
                trendtimeSelect.style.display = 'inline';
            }
            else {
                dateOption.selected = true;
            }

            //Refresh trendtime select to option selected
            for(const opt of trendtimeSelect){
                if(opt.value === trendtime){
                    opt.selected = true;
                }
            }
        }
        
       
    </script>

    

{% endblock %}