{% extends "navbar.html" %}

{% block layout %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/web/icons8-pila-de-fotos-windows-11-color-32.png" type="image/png">
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <nav class="h-16 bg-slate-100">
        {% block navbar %}{{super()}}{% endblock %}
    </nav>

    <main class="mx-auto max-w-2xl bg-indigo-50 p-5">
        {% block main %}{% endblock %}
    </main>

</body>
</html>

{% endblock %}