
{% block layout %}
    {% block navbar %}
    <div class="flex max-w-4xl  h-full mx-auto items-center">
        
        
        <p class="text-3xl flex-grow">
            <a href="/" class="flex items-center">
                <img src="/static/images/icons8-pila-de-fotos-96.png" class="w-12 mr-2">
                <span class="font-semibold">
                    Photofy 
                </span>
            </a>
        </p>


        <a href="/" class="font-semibold mr-3 hover:text-blue-600">
            Home
        </a>
        {% if session["id"] %}
            <a href="/user/{{session['username']}}">
                <span class="font-semibold hover:text-blue-600">@{{session['username']}}</span>
            </a>
            <a href="/photo_new" class="button-1 ml-3">Upload</a>
            <a href="/sign_out" class="button-2 ml-3">Sign out</a>
        {% else %}
            <a href="/sign_in" class="button-3 ml-3">Sign in</a>
            <a href="/sign_up" class="button-3 ml-3">Sign up</a>
        {% endif %}
        
        
    </div>
    {% endblock %}

{% endblock %}