{% extends "layout.html" %}

{% block title %}
   @{{username}} | Photofy
{% endblock %}

{% block main %}    
    <script src="/static/js/TranslateDate.js"></script>

    <h2 class="text-2xl shadow-md bg-white p-4 rounded-lg">
        @{{username}}'s photos
    </h2>
    
    <!-- PHOTOS -->
    {% if photos|length > 0 %} 
        <ul class="py-5">
            {% for photo in photos %}
                
                {% include 'components/photo_item.html' %}

            {% endfor %}
        </ul>
    {% else %}
        <div class="text-3xl py-44 my-5 bg-white rounded-xl text-center text-stone-500">
            Sorry! There isn't more posts
        </div>
    {% endif %}

    <!-- PAGINATION -->
    {% with path='/{{username}}' %}
        {% include 'components/pagination.html'  %}
    {% endwith %}

{% endblock %}