{% extends "layout.html" %}

{% block title %}
    Sign up 
{% endblock %}

{% block main %}

    <form action="/sign_up" method="post" class="max-w-md mx-auto bg-white p-4 shadow-md rounded-lg">
        <h1 class="text-4xl mb-5 text-center">Sign up</h1>
        
        <div class="my-3">
            <input  type="text" 
                    name="username" 
                    placeholder="Username"
                    minlength="4" 
                    class="w-full simple-input">
        </div>

        <div class="my-3">
            <input  type="password" 
                    name="password" 
                    placeholder="Password"
                    minlength="4" 
                    class="w-full simple-input">
        </div>

        <div class="my-3">
            <input  type="password" 
                    name="re_password" 
                    placeholder="Re type password" 
                    minlength="4"
                    class="w-full simple-input">
        </div>

        <div class="text-right mt-10 mb-2">
            <button class="button-3 w-32">
                Register
            </button>
        </div>

    </form>

{% endblock %}